<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tushar.dashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dashboard">
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".SupportCenterActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".WorkingOnActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Watch5Activity"
            android:exported="false" />
        <activity
            android:name=".Watch4Activity"
            android:exported="false" />
        <activity
            android:name=".Watch3Activity"
            android:exported="false" />
        <activity
            android:name=".Watch2Activity"
            android:exported="false" />
        <activity
            android:name=".Watch1Activity"
            android:exported="false" />
        <activity
            android:name=".ShoppingActivity"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
    </application>

</manifest>